<nav class="navbar navbar-expand-lg navbar-light bg-light nav_style nav-styling">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-item-names" id="navbarNavDropdown">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
    <form class="form-inline">
        <li class="nav-item dropdown list_style">
            <div class="logout"><input type="button" class="btn btn-primary" value="Logout" (click)="navigateToLogin()" /></div>
        </li>
    </form>
</nav>