
<app-navbar (logOutClicked)="navigateToLogin()"></app-navbar>
<div id="wrapper">

    <!-- <div id="users-list">
        <div id="list">         
            <div>
                <div class="card card_body">
                    <div class="card-body">
                        <span>Your logged in As {{ logged?.email }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="card" style="width: 18rem;margin: 2% auto;">
        <img class="card-img-top" src="../../assets/img/logo.png" alt="Card image cap">
        <div class="card-body userName">
          <p class="card-title">Your logged in As</p>
          <span class="card-userName"> {{ logged?.email }}</span>
        </div>
      </div>

</div>