<div class="wrapper fadeInDown card_class">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <!-- <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div> -->
        <!-- Remind Password -->
        <div id="formFooter">
            <p class="card_heading">Login Form</p>
        </div>
        <!-- Login Form -->
        <div id="users-list" *ngIf="isLogged.length== 0">


            <form no-validate [formGroup]="loginForm" (submit)="loginClick()">
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" formControlName="email">
                <small class="form-text text-muted" *ngIf="submitted &&  loginForm.controls.email.errors?.required">
              Please enter email address.!
          </small>

                <small class="form-text text-muted" style="color: red;" *ngIf="loginForm.controls.email.errors?.email">
              Email address not well formed.!
          </small>
                <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
                <small class="form-text text-muted" *ngIf="submitted && loginForm.controls.password.errors?.required">
              Password required
          </small>
                <small class="form-text text-muted" *ngIf="submitted && loginForm.controls.password.errors?.minlength">
              Minimum 6 character need
          </small>
                <small class="form-text text-muted" *ngIf="submitted && loginForm.controls.password.errors?.maxlength">
              Maximum 16 character allowed
          </small>
                <input type="submit" class="fadeIn fourth" value="Log In" (click)="loginClick()">
            </form>

        </div>


    </div>
    <div>

    </div>
    <testcomponent *ngIf="isLogged.length ==1"></testcomponent>
</div>